<footer class="container-fluid border">
    <div class="row">
        <div class="col-lg-6 p-4 text-center">
            <p>Fizzmod - TP N°4</p>
            <br>
            <p>Profesor: Daniel Sanchez</p>
        </div>
        
        <div class="col-lg-6 text-center ">
            <br>
            <h4>Contacto</h4>
            <a target="_blank" href="https://github.com/leo-it"><i class="fab fa-github-square p-3"></i></a>
            <a target="_blank" href="https://portfolio-leonardo-sainz.herokuapp.com/"><i class="far fa-folder p-3"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/leonardo-sainz/"><i class="fab fa-linkedin p-3"></i></a>
            <p>Desarrollador: Leonardo Sainz</p>

        </div>
    </div>
</footer>